
/*
  x-small: max-width: 550px
  small: min-width: 551px
  medium: min-width: 768px
  larg: min-width: 992px
  x-large: min-width: 1200px
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-family);
  color: #fff;
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
}

.gradient__text {
  background: var(--gradient-text);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-head {
  position: relative;
  font-size: 1.2rem;
}

.sub-head::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 75px;
  height: 4px;
  background: var(--gradient-text);
}
.sub-p {
  font-size: 0.9rem;
  line-height: 1.7;
  color: var(--color-text);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

@media screen and (max-width: 550px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 551px) {
  .container {
    width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

.section__padding {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.section__margin {
  margin: 4rem 0;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-in {
  -webkit-animation: fade-in 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: fade-in 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes fade-in {
  0% {
    -webkit-opacity: 0;
    opacity: 0;
  }
  100% {
    -webkit-opacity: 1;
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    -webkit-opacity: 0;
    opacity: 0;
  }
  100% {
    -webkit-opacity: 1;
    opacity: 1;
  }
}
