.gpt3__footer {
  padding-top: 4rem;
}
.gpt3__footer-heading {
  background-color: var(--color-footer);
  text-align: center;
  padding: 5rem 0;
}
.gpt3__footer-heading p {
  padding: 1rem 2rem;
  border: 2px solid #fff;
  width: fit-content;
  margin: 2rem auto 0;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .gpt3__footer-heading h1 {
    font-size: 4rem;
  }
}

.gpt3__footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.gpt3__footer-links_container p {
  font-size: 0.8rem;
  padding: 5px 0;
}

.gpt3__footer-inner {
  background-color: var(--color-footer);
  text-align: center;
  padding: 1rem;
}